# 마크다운

In [4]:
print('hello, python world')

hello, python world

In [5]:
print("안녕하세요! \n 반갑습니다")

안녕하세요!
 반갑습니다

In [ ]:
print('''
빅데이터 과정에서 
만나서 반갑습니다.
끝까지 화이팅하세요!!!''')

In [6]:
print(200+300)

500

In [8]:
a =10
b = 20
ret = a+b
print('A와 B를 더한 값은', end='')
print(ret, end='')
print(' 입니다')

A와 B를 더한 값은30 입니다

In [9]:
apple_price=500
apple_count = 7
print('사과 7개의 가격은'+ str(apple_price*apple_count)+ '원입니다.')

사과 7개의 가격은3500원입니다.

In [10]:
name = input('이름을 입력하세요.')
welcome = name+'님, 어서오세요'
print(welcome)

이름을 입력하세요.시안
시안님, 어서오세요

In [13]:
x=20
y=10
print('x=',x)
print('x+y=',x+y)
print('x-y =',x-y)
print('x/y=',x/y)
print('x//y=', x//y)
print('x%y', x%y)
print('-x=', -x)
print('+x=',+x)
print('x**y=',x**y)
print('pow(x,y) = ', pow(x,y))

x= 20
x+y= 30
x-y = 10
x/y= 2.0
x//y= 2
x%y 0
-x= -20
+x= 20
x**y= 10240000000000
pow(x,y) =  10240000000000

In [14]:
f1 = 1.0
f2=3.14
f3 = 1.56e3
f4 = -0.7e-4
print(f1)
print(f2)
print(f3)
print(f4)

1.0
3.14
1560.0
-7e-05

In [16]:
c1=1+7j
print(c1.real);print(c1.imag)
c2=complex(2,3)
print(c2)

1.0
7.0
(2+3j)

In [20]:
x=30
y=40
print('x==y= ',x==y)
print('x!=y=', x!=y)
print("x<y=",x<y)
print("x>y=",x>y)

print('int(True)=', int(True))
print('int(False)=', int(False))

x==y=  False
x!=y= True
x<y= True
x>y= False
int(True)= 1
int(False)= 0

In [21]:
x=1; y=2
str1='bigdata'; str2= 'python'
print(x==y)
print(x!=y)
print(str1==str2)
print(str2=='python')
print(str1<str2)

False
True
False
True
True

In [29]:
bool1=True;bool2=False;
bool3=True;bool4=False;
print(bool1 and bool2)
print(bool1 and bool3)
print(bool2 or bool3)
print(bool2 or bool4)
print(not bool1)
print(not bool2)

False
True
True
False
False
True

In [31]:
bit1 = 0x61
bit2 = 0x62
print(bin(bit1))
print(bin(bit2))
print(hex)

0b1100001
0b1100010

# 조건문

In [32]:
num_a=100
num_b=200
if num_a==num_b:
    print('숫자 !가 더 큰수입니다.')
else:
    print('숫자B가 더 큰수입니다.')

숫자B가 더 큰수입니다.

In [33]:
if num_a == nums_b:
    print('숫자A가 더큰수입니다.')
    max=num_a
elif num_a<num_b:
    print('숫자B가 더 큰수입니다.')
    mas = num_b
else:
    print('숫자B가 더 큰수입니다')

print('숫자A와 숫자B중 최대값은',mas, '입니다.')

SyntaxError: invalid syntax (<ipython-input-33-f0b5fc010fdf>, line 1)

In [ ]:
if num_a>num_b:
    print('숫자A가 더 큰수입니다.')
else:
    print('숫자B가 더 큰수입니다.')

In [34]:
if num_a> num_b:
    print

# 순환문

In [35]:

scope =['A', 'B', 'C', 'D', 'E']
for s in scope:
    print(x)

1
1
1
1
1

In [36]:
scope = '일이삼사오'
for x in scope:
    print(x)

일
이
삼
사
오

In [40]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)

1
2
3
4
5

In [41]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x< 3:
        continue
    else:
        break

1
2
3

In [42]:
scope = [1,2,3]
for x in scope:
    print(x)
    break
else:
    print('perfect')

1

In [44]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [46]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
for i in range(1,10,2):
    mark="*"*i
    print(mark)

*
***
*****
*******
*********

In [50]:
for i in range(1,10,2):
    mark = ' ' * int((10-i)/2) + '*'*i
    print(mark)

    *
   ***
  *****
 *******
*********

In [51]:
x = 1
total = 0

while True:
    total = total + x
    if total> 10000:
        print(x)
        print(total)
        break
    x = x+1

141
10011

In [52]:
x = 0
while x<10:
    x=x+1
    if x<3:
        continue
    print(x)
    if x>7:
        break

3
4
5
6
7
8

In [53]:
numbers = list(range(10))
print('numbers:',numbers)
idx, sum = 0,0
while idx< len(numbers):
    num = numbers[idx]
    sum += idx
    idx+=1
print('numbers의 합계는', sum, '입니다')

numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers의 합계는 45 입니다

In [54]:
scope

[1, 2, 3]

In [60]:
mysquare = lambda y : y**2
mysquare(2)

4

In [61]:
mySimpleFunc = lambda x,y,z: 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [62]:
func = lambda x,y : x **2 +2*y
func(2,3), func(3,2)

(10, 13)

In [71]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)  
    
def func3():
    print("[func3] 전역 변수 a =", a)   
    
def func4():
    
    global a  # 함수 내에서 전역 변수 변경 위해 선언
    a = 4      # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

In [74]:
func1()
func2()
print('전역변수 a = ',a)

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역변수 a =  5

In [75]:
[int(0.123),int(3.4567),int(-1.34324)]

[0, 3, -1]

In [76]:
[int('1234'),int(5678), int('-9876')]

[1234, 5678, -9876]

In [79]:
bool('a')
bool(' ')
bool('')
bool(None)

False

In [80]:
myNum = [10,5,4,2,6,7,8]
[min(myNum), max(myNum)]

[2, 10]

In [82]:
myStr ='zxyabc'
[min(myStr),max(myStr)]

['a', 'z']

In [83]:
myNum= (10,5,12,0,3.5,99.5,42)
[min(myNum), max(myNum)]

[0, 99.5]

In [85]:
myNum = {'Abc', 'abc', 'bcd', 'efg'}
[min(myNum), max(myNum)]

['Abc', 'efg']

In [88]:
[abs(10), abs(-10)]
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [112]:
type(sumList), type(sum)

(list, int)

In [113]:
sum

45

In [1]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum(sumList)

55

In [95]:
len('ab cd')

5

In [96]:
len([1,2,3,4,5,6,7,8])

8

In [97]:
len((1,2,3,4,5))

5

In [100]:
len({'1','2','3','4','5'})

5

In [103]:
len({1:'t',2:'e',3:'h'})

3

총점:350, 평균:87.5

In [2]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [109]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95